body{
    margin: 0;
    padding: 0;
}
#container{
    background-color: #000;
    /*linhas de fundo*/
    background-image: linear-gradient(#929292 .1em, transparent .1em),
    linear-gradient(90deg, #929292 .1em, transparent .1em); 
    background-color: 4em 4em;
    height: 100vh;
}
#card{
    background-color: #ac59d3;
    position: fixed;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    cursor: pointer;
}
