*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
}
h1{
    text-align: center;
    margin-bottom: 20px;
}
.board{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.column{
    background: #e0e0e0;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
.column h2{
    text-align: center;
    margin-top: 0;
}
.card{
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    cursor: grab;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
}
.card:active{
    cursor: grabbing;
    transform: scale(1.05);
}
.add-btn{
    background: #00adb3;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-top: auto;
    border: none;
    cursor: pointer;
}

.add-btn:hover{
    background: #006164;
}
.highlight{
    border: 2px dashed #00adb3;
}